* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #937cd3;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista{
display: inline-flexbox;
    margin: 0 3px;
    font-size: 20px;
}

.cabecalho-lista-item{

display:inline-flex;
margin: 0 7px;

}



.escola{
    background-image: linear-gradient(#937cd3,#3a2a80);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.escola-texto-um{
    font-size: 20px;
}

.logo-moça{
    width: 600px;
    justify-content: space-around;
}


.agradecimento{
    justify-content: center;
    font-size: 24px;
}

.logo-imagem{

 width: 15%;

}

.cabecalho-imagem2{
    width: 30%;
    justify-content: center;
}

.logo-st{
    width: 500px;
    justify-content:end
}

.titulo2{
    padding: 24px 0;
    
}

.escola-texto-2{

    justify-content:space-around;
    font-size: 20px;
}

.cabecalho-imagem3{
    width: 30%;
    justify-content: center;

}

.escola2{
    background-image: #3a2a80
}

.tit{
   font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    background-color:#fcf2ff;
  }
  th {
    background-color: #daadff;
  }